.CountdownContainer{
    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: var(--title);
}

.CountdownContainer > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--white);
    box-shadow: 0 0 60px #f53de580;
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;

}


.CountdownContainer > div span{
 flex: 1;   
}
.CountdownContainer > div span:first-child{
    border-right: 1px solid #f0f1f3;
}
.CountdownContainer > div span:last-child{
    border-left: 1px solid #f0f1f3;
}
.CountdownContainer > span{
   font-size: 6.25rem; 
   margin: 0 0.5rem;
}

.startCountdownButton{
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    display:flex ;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition:  filter 0.2s;

    background: #F8D34F;
    color: #141414;

    font-size: 1.25rem;
    font-weight: 600;

    transition: background-color 0.2s; 
}
.startCountdownButton:not(:disabled):hover{
    background: var(--dark);
   
}
.startCountdownButtonActive{
    background: hsla(47, 92%, 64%, 0.733);
    color: var(--title);
    
}

.startCountdownButtonActive:not(:disabled):hover{
    background: #F8D34F;
    color: black;
    
}

.startCountdownButton:disabled{
    background: #b9b6aa;
    color:var(--text);
    cursor: not-allowed;
   

}
